img{
    width: 100%;
    height: 100%;
}

.raw{
    height: 400px;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
.raw > div{
    flex: 1;
}
.vertical-collage img{
    height: calc( (100% - 5px)/2 );
}
.square-collage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
/*responsive*/
@media screen and (max-width: 576px) {
    .raw{
        height: auto;
        flex-direction: column;
    }
    .square-collage{
        grid-template-columns:1fr;
    }
}

@media screen and (min-width: 576px) and (max-width: 990px) {
    .raw{
        height: auto;
        flex-direction: column;
    }
    
}